<div class="card">
  <div class="card-header">
    <h3 class="card-text">Words:</h3>
  </div> <!-- class = card-header -->
  <div class="card-body">
    <% if @words.any? %>
    <ul class="list-group list-group-flush">
      <% @words.each do |word| %>
      <li class="list-group-item"><a href="/words/<%= word.id %>"><%= word.name %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are currently no records to display.</p>
    <% end %>
  </div> <!-- class = card-body -->
  <div class="card-footer">
    <form class="" action="/words/new" method="get">
      <button type="submit" name="button">Add a new word</button>
    </form>
  </div> <!-- class = card-footer -->
</div> <!-- class = card -->
<div class="card">
  <div class="card-header">
    <h3>Look up a word!</h3>
  </div>
  <div class="card-body">
    <form action="/words/search" method="get">
      <div class="form-group">
        <input id="search" name="search" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Search</button>
    </form>
  </div> <!-- class = card-body -->
</div> <!-- class = card -->
